.page-wrapper {
  position: relative;
  height: 100vh;
}

header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 20px;
  width: 170px;
  margin-top: 10px;
}

.score {
  /* justify-content: center; */
  margin-top: 10px;
}

.timer {
  text-align: center;
}

.time-screen {
  width: 150px;
  height: 50px;
  border: 1px solid black;
}

.play-area-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.score p {
  width: 150px;
  height: 50px;
  border: 1px solid black;
}

.grid-wrapper {
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 700px;
  width: 700px;
}

.game-info {
  display: flex;
  flex-direction: row;

  padding-top: 20px;
}

.lives {
  text-align: center;
  padding-right: 120px;
}

.lives div{
  width: 150px;
  height: 50px;
  border: 1px solid black;
  padding-top: 7px;
  
}

.grid div {
  height: 11%;
  width: 11%;
  
}

.grid div.bear {
  background-image: url('../assets/bear.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.cave {
  background-image: url('../assets/cave.png');
  background-size: cover;
}

.grid div.grass {
  background-image: url('../assets/grass.png');
  background-size: contain;
}

.grid div.car {
  background-image: url('../assets/car.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.truck {
  background-image: url('../assets/trucking.png');
  background-size: contain;
}

.grid div.bus {
  background-image: url('../assets/bus.png');
  background-size: contain;
}

.grid div.log {
  background-image: url('../assets/log.png');
  background-size: contain;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p{
  text-align: center;
  padding-bottom: 20px;
}