body {
  background-image: url('../assets/adp8_4ucw_170602.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Permanent Marker', cursive;
}

.page-wrapper {
  position: relative;
  height: 100vh;
  color: white;
}

.intro-screen {
  height: 100vh;
  width: 100%;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s;
}

.intro-content {
  position: relative;
  /* top: 25%;  */
  /* width: 100%; */
  text-align: center; 
  margin-top: 20px;
  padding: 200px
}

.intro-content h1, .intro-content h2, .intro-content h3 {
  color: white;
  padding: 50px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }  
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 14px;
  width: 170px;
  font-family: 'Permanent Marker', cursive;
  color:red;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: #f3f0f1;
  position: relative;
  opacity: 0.5;
  margin-bottom: 25px;
  border: 5px double black;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  outline: none;
}

button:hover {
  opacity: 0.5;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
  6px 6px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 40px;
}

h2, h3 {
  font-size: 28px;  
}

a {
  font-size: 28px;  
  padding-bottom: 25px;
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.timer {
  text-align: center;
  ;
}

.time-screen {
  width: 150px;
  height: 50px;

}

.play-area-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid-wrapper {
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: 3px double lightgrey;
  height: 700px;
  width: 700px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.game-info {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.lives {
  text-align: center;
  padding-right: 120px;
}

.score {
  text-align: center;
}

.grid div {
  height: 11%;
  width: 11%;
  border: none;
}

.grid div.grass {
  background-image: url('../assets/grass.png'); 
  background-size: contain;
  
  background-position: bottom;
  left:0;
  bottom: 0;
  background-repeat: no-repeat;
}

.grid div.road {
  background-color: #bfbfbf;
  color: #bfbfbf;
}

.grid div.bear {
  background-image: url('../assets/bear.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid div.homeBear {
  background-image: url('../assets/home-bear.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.cave {
  background-image: url('../assets/cave.png');
  background-size: contain;
}

.grid div.ouch {
  background-image: url('../assets/ouch.png');
  background-size: contain;
  
}

.grid div.car {
  background-image: url('../assets/car.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.truck {
  background-image: url('../assets/trucking.png');
  background-size: contain;
}

.grid div.bus {
  background-image: url('../assets/bus.png');
  background-size: contain;
}
.grid div.water {
  background-color:#b3e6ff;
  color: #b3e6ff;
}
.grid div.log {
  background-image: url('../assets/log.png');
  background-size: contain;
}

.gameover-lose {
  border: 2px solid black;
  height: 70px;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  width: 50%;
  top: 50%;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  padding-bottom: 20px;
}

